.footer {
  width: 100vw;
  height: 410px;
  margin-top: 40px;
  background-image: url(../img/footer/bg-footer.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
