@import url(https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap);

/* Root styles */

:root {
  --white-color: #fff;
  --main-color: #d3ad7f;
  --black: #13131a;
  --bg: #010103;
  --border: 0.1rem solid rgba(255, 255, 255, 0.3);
}

/*Загальні стилі =================================================================================================================*/

body {
  font-family: "Josefin Sans";
  font-style: normal;
  color: #646d70;
}

.hide {
  display: none;
}

.wrapper {
  min-height: 100%;
  overflow: clip;
  display: flex;
  flex-direction: column;
}

/*налаштування адаптиву*/

.container {
  max-width: 1440px;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  margin: 0 auto;
}

/*модулі*/

.title {
  font-family: "Merriweather";
  color: #fff;
  line-height: 130%;
  font-size: 1.875rem;
}
.title--dark {
  color: #222f33;
}
@media (max-width: 47.9988em) {
  .title {
    font-size: 1.5rem;
  }
}
.text {
  line-height: 185%;
}
.text p:not(:last-child) {
  margin-bottom: 0.9375rem;
}
.page {
  flex: 1 1 auto;
}

@import url("follow-us.css");
@import url("hero-area.css");
@import url("our-best-offer.css");
@import url("our-gallery.css");
@import url("update-news.css");
