.our-gallery-grid {
  margin: 50px auto;
  margin-bottom: 0;
}

.our-gallery-grid {
  justify-content: center;
  align-items: center;
  width: 1140px;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
@media screen and (max-width: 1170px) {
  .our-gallery-grid {
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  .our-gallery--wrapper h3 {
    font-size: 33px;
  }
  .our-gallery--wrapper p {
    font-size: 20px;
    width: 400px;
  }
}
@media screen and (max-width: 768px) {
  .our-gallery-grid {
    width: 100%;
    grid-template-columns: repeat(1, 1fr);
  }
}
@media screen and (max-width: 450px) {
  .our-gallery-grid {
    width: 100%;
    display: inline-block;
  }
}
.our-gallery--wrapper h3 {
  color: #000;
  text-align: center;
  margin-top: 130px;
  /* Subtitle / Base */
  font-family: "Josefin Sans";
  font-size: 43px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%; /* 55.9px */
}
.our-gallery--wrapper p {
  color: #000;
  text-align: center;
  font-family: "Open Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 28.8px */
  opacity: 0.7;
  width: 609px;
}
.our-gallery--btn {
  width: 105px;
  height: 27px;
  color: #ff4b32;
  text-align: center;
  font-family: "Open Sans";
  font-size: 18px;
  margin-bottom: 143px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 27px */
}

.img1,
.img2,
.img3 {
  width: 360px;
  height: 330px;
}
.img4,
.img5,
.img6 {
  width: 360px;
  height: 230px;
}
@media screen and (max-width: 1170px) {
  .img4 {
    height: 330px;
  }
}
@media screen and (max-width: 450px) {
  .our-gallery--wrapper p {
    width: 400px;
    padding: 0 50px;
  }
  .our-gallery--wrapper h3 {
    margin-top: 50px;
  }
  .our-gallery__item {
    margin-top: 5px;
  }
  .img4,
  .img6 {
    height: 330px;
  }
}

/* slider */

.materials__slider {
  transform: translate(0, -20.765027%); /* 76/366 */
}
.slider-materials__slide {
  position: relative;
  /* aspect-ratio: 88.797814%; */
  width: 20.3125rem;
  height: 22.875rem;
}
.slider-materials__slide img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}
.slider-materials__pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 0.3125rem 1rem 0.3125rem;
  flex-wrap: wrap;
  gap: 0.5rem;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.slider-materials__pagination .swiper-pagination-bullet {
  flex: 0 0 0.5rem;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.4;
  border-radius: 50%;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
}
.slider-materials__pagination .swiper-pagination-bullet-active {
  opacity: 1;
}
