.our-gallery-grid {
  justify-content: center;
  align-items: center;
  width: 1140px;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1.2fr 0.8fr;
  margin: 50px auto;
  margin-bottom: 0;
}
.image-slider__wrapper {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 1170px) {
  .our-gallery-grid {
    width: 100%;
    grid-template-columns: 1.2fr 0.8fr;
    grid-template-rows: repeat(3, 1fr);
  }
  .our-gallery--wrapper h3 {
    font-size: 33px;
  }
  .our-gallery--wrapper p {
    font-size: 20px;
    width: 400px;
  }
}
@media screen and (max-width: 768px) {
  .our-gallery-grid {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
@media screen and (max-width: 450px) {
  .our-gallery-grid {
    width: 100%;
    display: inline-block;
  }
}
.our-gallery--wrapper h3 {
  color: #000;
  text-align: center;
  margin-top: 130px;
  /* Subtitle / Base */
  font-family: "Josefin Sans";
  font-size: 43px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%; /* 55.9px */
}
.our-gallery--wrapper p {
  color: #000;
  text-align: center;
  font-family: "Open Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 28.8px */
  opacity: 0.7;
  width: 609px;
}
.our-gallery button {
  width: 105px;
  height: 27px;
  color: #ff4b32;
  text-align: center;
  font-family: "Open Sans";
  font-size: 18px;
  margin-bottom: 143px;
  margin-top: 75px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 27px */
}

@media screen and (max-width: 768px) {
}
@media screen and (max-width: 450px) {
  .our-gallery--wrapper {
    display: none;
  }
  .our-gallery--wrapper p {
    width: 400px;
    padding: 0 50px;
  }
  .our-gallery--wrapper h3 {
    margin-top: 50px;
  }
  .our-gallery__item {
    margin-top: 5px;
  }
  .img4,
  .img6 {
    height: 330px;
  }
}

/* slider */
.our-gallery-slider {
  display: none;
}
.image-slider__slide {
  display: flex;
  justify-content: center;
}
.our-gallery-slider h3 {
  color: #000;
  text-align: center;
  margin-top: 30px;
  /* Subtitle / Base */
  font-family: "Josefin Sans";
  font-size: 43px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%; /* 55.9px */
}
.swiper-slide img {
  max-width: 100%;
}
.image-slider {
  padding: 30px 0 70px 0;
}
.image-slider__image img {
  max-width: 100%;
  height: 100%;
}
.image-slider__image {
  text-align: center;
}

@media screen and (max-width: 450px) {
  .our-gallery-slider {
    display: block;
    margin-left: 40px auto;
  }
  .our-gallery-grid {
    display: none;
  }
  .our-gallery--wrapper {
    display: none;
  }
  .our-gallery--btn {
    margin-bottom: 50px;
  }
  .our-gallery-slider h3 {
    margin-top: 50px;
  }
  .image-slider {
    padding: 30px 0 50px 0;
  }
  .image-slider__image img {
    width: 100%;
  }
  .image-slider__image {
    text-align: center;
  }
}
